 .nav-bar{
    background-color: #454141;
    overflow: hidden;
    margin : 20px 0px 20px 0px;
    display: flex;
    text-align: center;
    justify-content:center;
}
.nav-bar a{
    float: left;
    color: #f2f2f2;
    
    padding: 14px 16px;
    text-decoration: none;
}
.nav-bar a:hover{
    background-color: #ddd;
    color: black;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}
.canvas {
    text-align: center;
    margin-top: 30px;
}
.button{
    padding: 10px 20px;
    width: 60px;
    height:60px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}       
.button#grey{
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
}
.button#green {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}
.button#blue {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}
#yellow {
    background-color: yellow;
    color: black;
    border: none;                   
    border-radius: 5px; 
}
 